.search-result {
  .condition-search-wrap {
    padding: 15px 30px 15px;
    box-shadow: 0px 2px 3px #ECECEC, inset 0px 1px 0px #ECECEC;
  }

  .condition-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;

    .title {
      font-weight: bold;
      font-size: 16px;
      color: #757575;
      margin-right: 30px;
    }

    .condition-item {
      background: #F2F2F2;
      border-radius: 6px;
      padding: 7px 15px;
      margin-right: 10px;
      cursor: pointer;

      label {
        font-weight: normal;
        font-size: 13px;
        line-height: 170%;
        color: #757575;
        margin-bottom: 0;
      }

      .value {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
      }
    }

    .btn-search {
      color: $color-secondary;
      border: 2px solid $color-secondary;
      border-radius: 6px;
      background-color: $color-white;
      padding: 10px 13px;
      width: 115px;
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
      }
    }
  }

  .result-map-search {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #ECECEC;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #BFBFBF;
      border-radius: 10px;
    }

    .result-search {
      padding-top: 30px;
      width: 40%;
      max-width: 600px;

      .list-result-item {
        max-height: 650px;
        overflow-y: scroll;
        padding-right: 15px;

        &:last-child {
          margin-bottom: 10px;
        }
      }

      .total-result {
        font-weight: bold;
        font-size: 18px;
        line-height: 160%;
        color: #4F4F4F;
        margin-bottom: 20px;
      }

      .result-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: inset 0px -1px 0px #ECECEC;

        .item-adress {
          font-weight: 600;
          font-size: 14px;
          color: #333333;
          margin-bottom: 8px;
          margin-top: 8px;

          span {
            color: #8b8b8b;
          }
        }

        .level-title,
        .time-title {
          width: 100px;
          font-size: 13px;
          color: #757575;
          display: inline-block;
        }

        .level-value,
        .time-value {
          font-weight: normal;
          font-size: 13px;
          color: #333333;
        }

        .item-level {
          margin-bottom: 8px;
        }

        .item-time {
          margin-bottom: 5px;
        }
      }

      .btn-register {
        background: $color-secondary;
        border-radius: 6px;
        padding: 8px 20px;
      }
    }

    .map-search {
      padding-left: 10px;
      width: 60%;

      img {
        width: 100%;
        height: 730px;
        object-fit: cover;
      }
    }
  }

  .modal-enrollment {
    padding-right: 0 !important;

    .modal-dialog {
      max-width: 485px;
      background: #FFFFFF;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 30px;
      transform: translate(0, 8px);

      .modal-content {
        border: none;

        .modal-header {
          padding: 0;
          display: block;
          text-align: right;
          border-bottom: none;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h3 {
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 0;
          }

          img {
            cursor: pointer;
          }
        }
      }

      .modal-body {
        padding: 0;
      }

      .form-search {
        height: auto;
        background-color: #FFFFFF;
        margin-top: 30px;

        .registration {
          display: flex;
          align-items: center;
          margin-top: 10px;

          [type="radio"]:checked,
          [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
          }

          [type="radio"]:checked+label,
          [type="radio"]:not(:checked)+label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            line-height: 21px;
            display: inline-block;
            font-size: 14px;
            color: #333333;
            font-weight: normal;
          }

          [type="radio"]:checked+label:before,
          [type="radio"]:not(:checked)+label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border: 2px solid #BFBFBF;
            border-radius: 100%;
            background: $color-white;
          }

          [type="radio"]:checked+label:before {
            border: 2px solid $color-secondary;
          }

          [type="radio"]:checked+label:after,
          [type="radio"]:not(:checked)+label:after {
            content: '';
            width: 12.8px;
            height: 12.8px;
            background: $color-secondary;
            position: absolute;
            top: 5.5px;
            left: 6px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }

          [type="radio"]:not(:checked)+label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }

          [type="radio"]:checked+label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        .group-input {
          display: flex;

          .year {
            width: 100px;

            select {
              height: 46px;
              font-size: 14px;
              padding-left: 10px;
              padding-right: 10px;
              -moz-appearance: none;
              background-image: url('../images/icon-caret-down.png');
              background-repeat: no-repeat;
              background-size: 10px;
              background-position: 85% 50%;
              /* Firefox */
              -webkit-appearance: none;
              /* Safari and Chrome */
              appearance: none;
            }
          }

          .phone {
            width: 45%;
          }

          .student {
            width: calc(55% - 100px);
            padding: 0 20px;

            &.disable-number {
              cursor: not-allowed;

              .number,
              .minus,
              .form-control,
              .plus {
                pointer-events: none;
                background-color: #F2F2F2;
              }
            }
          }

          .number {
            display: flex;
            align-items: center;
            border: 1px solid #BFBFBF;
            border-radius: 6px;
            padding: 1px 15px;

            .minus,
            .plus {
              cursor: pointer;
              font-weight: 900;
              font-size: 14px;
              color: #4F4F4F;
            }

            .form-control {
              border: none;
              text-align: center;
              color: #333333;
              padding: 10px 0;

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }

        .btn-search {
          font-weight: bold;
          background-color: $color-secondary;
          padding: 10px 25px;
          font-size: 18px;
          margin-top: 15px;
        }

        label {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #4F4F4F
        }

        .form-control {
          border: 1px solid #BFBFBF;
          border-radius: 6px;
          padding: 11.5px 15px;
          font-size: 14px;

          &::placeholder {
            color: #BFBFBF;
          }
        }

        .form-control:disabled {
          background: #F2F2F2;
        }
      }
    }
  }

  .modal-search {
    padding-right: 0 !important;

    .modal-dialog {
      max-width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
      transform: translate(0, 82%);

      .modal-content {
        border-radius: 0;
        padding: 30px;

        .modal-header {
          padding: 0;
          display: block;
          text-align: right;
          border-bottom: none;

          img {
            cursor: pointer;
          }
        }

        .modal-body {
          padding: 0;
          width: auto;
          margin: 0 auto;

          .form-search {
            display: flex;
            flex-wrap: wrap;

            .form-search-item {
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }
            }

            .form {
              margin-right: 50px;
            }

            label {
              font-weight: 600;
              font-size: 14px;
              color: #4F4F4F;
              margin-bottom: 5px;
            }

            .registration {
              display: flex;
              align-items: center;
              margin-top: 10px;

              div {
                min-width: 145px;
              }

              [type="radio"]:checked,
              [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
              }

              [type="radio"]:checked+label,
              [type="radio"]:not(:checked)+label {
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                line-height: 21px;
                display: inline-block;
                font-size: 14px;
                color: #333333;
                font-weight: normal;
              }

              [type="radio"]:checked+label:before,
              [type="radio"]:not(:checked)+label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
                border: 2px solid #BFBFBF;
                border-radius: 100%;
                background: $color-white;
              }

              [type="radio"]:checked+label:before {
                border: 2px solid $color-secondary;
              }

              [type="radio"]:checked+label:after,
              [type="radio"]:not(:checked)+label:after {
                content: '';
                width: 12.8px;
                height: 12.8px;
                background: $color-secondary;
                position: absolute;
                top: 5.5px;
                left: 5.7px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
              }

              [type="radio"]:not(:checked)+label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
              }

              [type="radio"]:checked+label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
              }
            }

            .year {
              width: 90px;

              select {
                height: 40px;
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;
                -moz-appearance: none;
                background-image: url('../images/icon-caret-down.png');
                background-repeat: no-repeat;
                background-size: 10px;
                background-position: 85% 50%;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                appearance: none;
              }
            }

            .number {
              display: flex;
              align-items: center;
              border: 1px solid #BFBFBF;
              border-radius: 6px;
              padding: 0px 15px;
              width: 100px;

              .minus,
              .plus {
                cursor: pointer;
                font-weight: 900;
                font-size: 14px;
                color: #4F4F4F;
              }

              .form-control {
                border: none;
                text-align: center;
                color: #333333;
                padding: 8.5px 0;
              }
            }

            .student {
              &.disable-number {
                cursor: not-allowed;

                .number,
                .minus,
                .form-control,
                .plus {
                  pointer-events: none;
                  background-color: #F2F2F2;
                }
              }
            }

            .form-control {
              border: 1px solid #BFBFBF;
              border-radius: 6px;
              padding: 8.5px 15px;
              font-size: 14px;

              &::placeholder {
                color: #BFBFBF;
              }

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }

            .adress {
              min-width: 400px;
            }
          }
        }

        .modal-footer {
          justify-content: center;
          padding: 0;
          padding-top: 10px;
          border-top: none;

          .btn-search {
            background: $color-secondary;
            border-radius: 8px;
            padding: 10px 25px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .modal-success {
    .modal-dialog {
      max-width: 485px;
      width: 485px;
      height: 540px;
      background: #FFFFFF;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
      border-radius: 6px;

      .modal-content {
        border: none;
        text-align: center;
        padding: 0;
      }

      .modal-body {
        padding: 25px 0;
        background-image: url('../images/bg-sucess.png');
        background-repeat: no-repeat;
        background-size: contain;

        h3 {
          font-weight: bold;
          font-size: 26px;
          color: $color-primary;
        }

        p {
          font-weight: normal;
          font-size: 16px;
          color: #4F4F4F;
        }
      }

      .modal-footer {
        justify-content: center;
        padding: 0;
        border-top: none;

        .btn-search {
          background: $color-secondary;
          border-radius: 6px;
          padding: 10px 25px;
          font-size: 18px;
        }
      }
    }
  }

  @media only screen and (max-width: 1440px) {
    .modal-search .modal-dialog .modal-content .modal-body .form-search .adress {
      min-width: 300px;
    }

    .modal-search .modal-dialog .modal-content .modal-body .form-search .form {
      margin-right: 30px;
    }

    .modal-search .modal-dialog .modal-content .modal-body .form-search .phone {
      max-width: 200px;
    }
  }

  @media only screen and (max-width: 1280px) {
    .condition-search-wrap {
      padding: 15px 30px 5px;
    }

    .condition-search {
      .condition-item {
        margin-bottom: 10px;
      }
    }

    .modal-search .modal-dialog .modal-content .modal-body .form-search .phone {
      max-width: initial;
    }
  }

  @media only screen and (max-width: 1199px) {
    .container {
      max-width: 1140px !important;
    }
  }

  @media only screen and (max-width: 991px) {
    .container {
      max-width: 720px !important;
    }

    .result-map-search {
      display: block;

      .result-search {
        width: 100%;
        max-width: initial;
        margin-bottom: 15px;

        .list-result-item {
          max-height: 500px;
        }
      }

      .map-search {
        width: 100%;
        padding-left: 0;

        img {
          height: 500px;
        }
      }
    }

    .modal-search {
      .modal-dialog {
        transform: translate(0, 20px);
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .condition-search-wrap {
      padding: 15px 0;

      .title {
        margin-bottom: 10px;
      }

      .condition-item {
        width: 100%;
      }

      .btn-search {
        width: 100%;
        justify-content: center;
      }
    }

    .result-map-search {
      .map-search {
        img {
          height: 300px;
        }
      }
    }

    .modal-search {
      .modal-dialog {
        transform: translate(0, 20px);

        .modal-content .modal-body {
          margin: 0;
        }

        .modal-content .modal-body .form-search {
          display: block;

          .form-search-item {
            margin-bottom: 10px;
            margin-right: 0;
            width: 100%;

            &.form {
              div {
                margin-right: 10px !important;
              }
            }

            &.year select {
              background-position: 95% 50%;
            }

            .number {
              width: 100%;
            }

            &.adress {
              min-width: 100%;
            }
          }
        }
      }
    }

    .modal-enrollment {

      .modal-dialog {
        max-width: 100%;

        .form-search {
          .registration {
            display: block;

            div {
              margin-bottom: 5px;
            }

            [type="radio"]:checked+label:after,
            [type="radio"]:not(:checked)+label:after {
              left: 5.8px;
            }
          }

          .group-input {
            display: block;

            .year,
            .phone,
            .student,
            .btn-search {
              width: 100%;
            }

            .year {
              select {
                background-position: 95% 50%;
              }
            }

            .phone {
              padding: 0;
              margin-top: 10px;
            }

            .student {
              margin-top: 10px;
              padding: 0;
            }
          }

          .search-btn {
            text-align: center;
          }
        }
      }
    }
  }
}