.news-media {
  background-color: $color-white;
  padding: 80px 0;

  .title {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: -5px;
  }

  .news-content,
  .tab-media {
    margin-top: 40px;
  }

  .tab-media {
    font-weight: 600;
    font-size: 15px;

    .nav-link {
      color: #757575;
      padding: 0;
      margin-right: 30px;

      &.active {
        background: transparent;
        color: $color-secondary;
        border-radius: 0;
        border-bottom: 1px solid $color-secondary;
      }
    }
  }

  .tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  .tab-content>.active {
    height: auto;
    overflow: initial;
    visibility: initial;
    opacity: 1;
  }

  .tab-content>.show {
    height: auto;
    overflow: initial;
    visibility: initial;
  }

  .news-item {
    display: flex;
    align-items: center;
    border: 1px solid #E0E0E0;
    background-color: $color-white;
    transition: 0.3s;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      border: 1px solid #FFC18E;

      .news-item-title a {
        color: $color-secondary;
        text-decoration: none;
      }
    }

    .item-img {
      margin: -1px;
      width: 40%;

      img {
        object-fit: cover;
        width: 100%;
        height: 135px;
      }
    }

    &-time {
      font-size: 13px;
      color: #757575;
    }

    &-title a {
      font-weight: 600;
      font-size: 15px;
      color: #333333;
      margin-bottom: 5px;
      transition: 0.3s;
    }

    &-description {
      font-weight: normal;
      font-size: 14px;
      color: #4F4F4F;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .item-contents {
      padding: 10px 10px 10px 20px;
      width: 60%;
    }
  }

  .media-content {
    margin: 0 -2.5px;

    .slider-for-video {
      .item-detail {
        margin-bottom: 5px;
      }
    }

    .item-detail {
      margin-bottom: 10px;

      img {
        height: 350px;
        width: 100%;
        object-fit: cover;
      }

      .descriptions {
        font-weight: 600;
        font-size: 15px;
        color: $color-white;
        position: absolute;
        padding: 30px 20px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        bottom: 0;
        text-align: left;
      }
    }

    .slider-for-image,
    .slider-for-video {
      margin: 0 2.5px;
    }

    .slick-prev,
    .slick-next {
      top: initial;
      bottom: -35px;
      transform: initial;

      &::before {
        font-family: "FontAwesome";
        font-weight: 900;
        font-size: 20px;
        color: #757575;
      }
    }

    .slick-prev {
      left: calc(50% - 25px);

      &::before {
        content: "\f104";
      }
    }

    .slick-next {
      right: calc(50% - 25px);

      &::before {
        content: "\f105";
      }
    }

    .item-thumnail {
      height: 67px;
      padding: 0 2.5px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.slick-current {
        img {
          border: 3px solid #EA7F27;
        }
      }

      &:hover {
        img {
          border: 3px solid #EA7F27;
        }
      }
    }
  }

  @media only screen and (max-width: 1199px) and (min-width: 992px) {
    .news-item {
      .item-img img {
        height: 120px;
      }

      .item-contents {
        padding: 5px 10px 5px 20px;
      }
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
    padding: 50px 0;

    .media-room {
      padding-top: 30px;
    }

    .news-item {
      .item-img img {
        height: 165px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    padding: 30px 0;

    .news-content,
    .media-content {
      margin-top: 15px;
    }

    .media-room {
      padding-top: 30px;
    }

    .news-item .item-img {
      width: 38%
    }

    .news-item .item-img img {
      width: 100%;
      height: 115px;
    }

    .news-item .item-contents {
      padding: 5px 10px 5px 15px;
      width: 62%;
    }

    .news-item-description {
      line-height: 20px;
    }

    .media-content .aciton-img {
      margin-top: 10px;
    }

    .media-content {
      .item-thumnail {
        height: 65px;
      }
    }
  }
}