.media-wrapper {
  background-color: #F9F9F9;
  padding: 80px 0 75px;
  text-align: center;

  .title {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0;
    color: #333333;
  }

  .tab-media {
    font-weight: 600;
    font-size: 15px;
    justify-content: center;
    margin-top: 40px;

    .nav-link {
      color: #757575;
      padding: 2px 0;
      margin-right: 15px;
      margin-left: 15px;

      &.active {
        background: transparent;
        color: $color-secondary;
        border-radius: 0;
        border-bottom: 1px solid $color-secondary;
      }
    }
  }

  .tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  .tab-content>.active {
    height: auto;
    overflow: initial;
    visibility: initial;
    opacity: 1;
  }

  .tab-content>.show {
    height: auto;
    overflow: initial;
    visibility: initial;
  }

  .media-content {
    margin: 0 -2.5px;
    width: 80%;
    margin: 0 auto;
    position: relative;

    .slider-for-video {
      .item-detail {
        margin-bottom: 5px;
      }
    }

    .slider-for-image,
    .slider-for-video {
      padding-left: 125px;
    }

    .item-detail {
      margin: 0;
      margin-bottom: 10px;

      img {
        height: 490px;
        width: 100%;
        object-fit: cover;
      }

      .descriptions {
        font-weight: 600;
        font-size: 15px;
        color: $color-white;
        position: absolute;
        padding: 30px 20px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        bottom: 0;
        text-align: left;
      }
    }

    .slider-nav-image,
    .slider-nav-video {
      width: 112px;
      position: absolute;
      top: 20px;
    }

    .slick-prev,
    .slick-next {
      &::before {
        font-family: "FontAwesome";
        font-weight: 900;
        font-size: 20px;
        color: #757575;
      }
    }

    .slick-prev {
      top: -15px;
      left: calc(50% - 8px);

      &::before {
        content: "\f106";
      }
    }

    .slick-next {
      top: calc(100% + 10px);
      right: calc(50% - 12px);

      &::before {
        content: "\f107";
      }
    }

    .item-thumnail {
      height: 70px;
      margin-bottom: 5px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.slick-current {
        img {
          border: 3px solid #EA7F27;
        }
      }

      &:hover {
        img {
          border: 3px solid #EA7F27;
        }
      }
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .media-content {
      width: 100%;
    }
  }

  @media only screen and (max-width: 767px) {
    .media-content {
      width: 100%;
      margin: 0 -2.5px;

      .slider-for-image,
      .slider-for-video {
        padding-left: 0;
        margin: 0 2.5px;
      }

      .item-detail {

        img,
        iframe {
          height: 350px;
        }
      }

      .slick-prev,
      .slick-next {
        top: initial;
        bottom: -35px;
        transform: initial;

        &::before {
          font-family: "FontAwesome";
          font-weight: 900;
          font-size: 20px;
          color: #757575;
        }
      }

      .slick-prev {
        left: calc(50% - 25px);

        &::before {
          content: "\f104";
        }
      }

      .slick-next {
        right: calc(50% - 25px);

        &::before {
          content: "\f105";
        }
      }

      .slider-nav-image,
      .slider-nav-video {
        width: initial;
        position: initial;

        .item-thumnail {
          padding: 0 2.5px;
          height: 65px;
        }
      }
    }
  }
}